
.navbar-custom {
    background-color: #23bf48;
}

.sidebar-custom {
    background-color: #b8ff93;
}

.navbar-title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-weight: bold;
}

.profile-btn {
    display: block;
    width: 40px;
    height: 40px;
    align-items: center;
    background-color: #ccc;
    border: 1px solid #6c757d;
    border-radius: 50%;
    color: #6c757d;
    display: flex;
    justify-content: center;
    overflow: hidden;
    text-decoration: none;
}

.profile-pic {
    position: relative;
    width: 100%;
    height: 100%;
}

.profile-btn:hover {
    background-color: #6c757d;
    color: white;
}

.inline-icon {
    font-size: 1rem;
    vertical-align: middle;
}

footer p {
    text-align: center;
}

body {
    background-color: #ded0c1c4;
    color: rgb(80, 168, 99)
}

.search {
    width: 250px;
}

body, .navbar-custom, .sidebar-custom, footer, .list-group-item {
    transition: background-color 0.5s, color 0.5s;
}


/* Dark Mode */
.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-mode .navbar-custom {
    background-color: #14532d;
}

.dark-mode .sidebar-custom {
    background-color: #1f4b2e;
}

.dark-mode .profile-btn {
    background-color: #333;
    color: #ccc;
    border-color: #555;
}

.dark-mode .profile-btn:hover {
    background-color: #555;
    color: white;
}

.dark-mode footer {
    background-color: #1c1c1c;
}

.dark-mode footer p {
    color: #888;
}

.dark-mode .list-group-item {
    background-color: #1c1c1c;
    color: #ccc;
}

.dark-mode .list-group-item a {
    color: #ccc;
}

.dark-mode .list-group-item a:hover {
    color: #fff;
}

.image-card {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 133.33%; /* 3:4 aspect ratio => (4/3 * 100)% */
    background-color: lightgray;
    border-radius: 15px;
}

.image-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Scale without stretching */
    z-index: 0;
}

.capture-pfp-overlay {
    position:absolute;
    z-index:1;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
}

.card-hover-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: opacity 0.3s ease;
    padding: 1rem;
}

.image-card:hover .card-hover-info {
    opacity: 1;
}

.plantdex-card {
    border-radius: 15px;
    background-color: transparent;
}

.capture-image-detail {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.capture-image-detail > img {
    width: 100%;
}

h2 > sup {
    font-size: 0.85rem;
    top: -1em;
}

.container .nav button{
    border-color: #1f4b2e;
}

.container .nav .active {
    background-color: #1f4b2e;
    color: #e0e0e0;
    border-color: #1f4b2e;
}

.nav-link {
    color: #1f4b2e;
}

.nav-link:hover {
    color:#14532d;
}