{% extends 'base.html' %}


{% block content %}
<h3>Pending Requests</h3>
{% if requests %}
    <ul class="list-group">
        {% for request in requests %}
        {% if request.receiver == user.profile and request.pending %}
        <li class="list-group-item">
            <p><strong>{{ request.sender }}</strong> wants to be friends</p>
            <a class="btn btn-success" href="{% url 'accept_req' request.id %}" role="button">Accept</a>
            <a class="btn btn-danger" href="{% url 'decline_req' request.id %}" role="button">Decline</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>No requests right now</p>
{% endif %}

<h3>Your Friends</h3>
{% if friend_list %}
    <ul class="list-group">
        {% for friend in friends %}
        <li class="list-group-item">
            <p><strong>{{ friend }}</strong> <a class="btn btn-success" href="{% url 'profile_view' friend.id %}" role="button">View Profile</a></p>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No friends found, go add some!!</p>
{% endif %}


{% endblock %}