{% extends 'base.html' %}


{% block content %}

{% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }} django-message w-50"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<div class="col d-flex justify-content-center">
    <div class="card border-success profile-bg" style="width: 50rem;">
        <div class="card-header">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/media/{{ profile.pfp }}" width="250" height="250">
                </div>
                <div class="col-md-4">
                    <h2>{{ profile.user.username }}{% if profile.private %}<span class="material-symbols-outlined me-2 inline-icon" style="font-size:36px;">lock</span>{% endif %}</h2>
                    <h4>{{ profile.name }}</h4>
                    </br>
                    <p>{{ profile.about_me }}</p>

                    {% if profile.user != user %}
                        {% if not is_friend %}
                            {% if not sentReq %}

                            <a class="btn btn-success" href="{% url 'add_friend' profile.id %}" role="button">Send Friend Request</a>

                            {% else %}

                            <a class="btn btn-danger" href="{% url 'cancel_friend' profile.id %}" role="button">Cancel Friend Request</a>

                            {% endif %}
                    
                        {% else %}
                            <a class="btn btn-danger" href="{% url 'remove_friend' profile.id %}" role="button">Remove Friend</a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <div class="card rank-card">
                        <div class="card-body">
                            <h5 class="card-title">{{ leaderboard_entry.num_captures }} Plants Captured</h5>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {% if leaderboard_entry.num_captures != 0 %}
                                    Rank #{{ leaderboard_entry.rank }}{% if leaderboard_entry.rank == 1 %}<span class="material-symbols-outlined" style="font-size:16px;">trophy</span>{% endif %}
                                {% else %}
                                    Unranked
                                {% endif %}
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            {% if profile.user == user %}
            <div>
                <a style="margin-top: 5px;" class="btn btn-success" href="{% url 'edit_profile' %}" role="button">Edit Profile</a>
                <a style="margin-top: 5px;" class="btn btn-success" href="{% url 'friend_list' %}" role="button">View Friends</a>
            </div>
            {% endif %}
        </div>     
            <div class="card-body">
                {% if profile.private and not is_friend and profile.user != request.user %}
                    <h2>This profile is <strong>private</strong></h2>
                     <p>Only {{profile.user.username}}'s friends can see their pictures and badges</p>

                {% else %}

                    <h4>Recent PlantDex Captures</h4>
                    <div class="container-fluid border border-dark mb-2" style="height:13em; overflow-y: scroll;">
                        {% include 'plantdex/recent-discoveries.html' %}
                    </div>
                
                    <h4>Badges</h4>
                    <div class="container-fluid border border-dark mb-2" style="height:100px;">
                        {% for badge in unlocked_badges %}
                            <img src="{{ badge.image.url }}" alt="{{ badge.name }}" title="{{ badge.name }}" style="height:60px; margin-right:10px;">
                        {% empty %}
                            <p class="text-muted my-auto">You haven't unlocked any badges yet.</p>
                        {% endfor %}
                    </div>

                {% endif %}
            </div>

</div>
{% endblock %}
