{% extends 'base.html' %}


{% block content %}
<h1>{{ profile.user.username }}</h1>

{% if profile.user == user %}
<div>
    <a class="btn btn-success" href="{% url 'edit_profile' %}" role="button">Edit Profile</a>
</div>
{% endif %}

<img src="/images/{{ profile.pfp }}", width="250", height="250">
<p><strong>Name:</strong> {{ profile.name }}</p>
<p><strong>About:</strong> {{ profile.aboutMe }}</p>

{% if profile.user != user %}
    {% if not is_friend %}
        {% if not sentReq %}

        <a class="btn btn-success" href="{% url 'add_friend' profile.id %}" role="button">Send Friend Request</a>

        {% else %}

        <a class="btn btn-danger" href="{% url 'cancel_friend' profile.id %}" role="button">Cancel Friend Request</a>

        {% endif %}
    
    {% else %}
        <a class="btn btn-danger" href="{% url 'remove_friend' profile.id %}" role="button">Remove Friend</a>
    {% endif %}
{% else %}

<a class="btn btn-success" href="{% url 'friend_list' %}" role="button">View Friends</a>

{% endif %}

{% endblock %}
