{% extends 'base.html' %}


{% block content %}

{% for message in messages %}
    <p>{{message}}</p>
{% endfor %}

<div class="col d-flex justify-content-center">
    <div class="card border-success profile-bg" style="width: 50rem;">
        <div class="card-header">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="/media/{{ profile.pfp }}" width="250" height="250">
                </div>
                <div class="col-md-8">
                    <h1>{{ profile.user.username }}{% if profile.private %}<span class="material-symbols-outlined me-2 inline-icon" style="font-size:36px;">lock</span>{% endif %}</h1>
                    <h3>{{ profile.name }}</h3>
                    </br>
                    <p>{{ profile.about_me }}</p>

                    {% if profile.user != user %}
                        {% if not is_friend %}
                            {% if not sentReq %}

                            <a class="btn btn-success" href="{% url 'add_friend' profile.id %}" role="button">Send Friend Request</a>

                            {% else %}

                            <a class="btn btn-danger" href="{% url 'cancel_friend' profile.id %}" role="button">Cancel Friend Request</a>

                            {% endif %}
                    
                        {% else %}
                            <a class="btn btn-danger" href="{% url 'remove_friend' profile.id %}" role="button">Remove Friend</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if profile.user == user %}
            <div>
                <a style="margin-top: 5px;" class="btn btn-success" href="{% url 'edit_profile' %}" role="button">Edit Profile</a>
                <a style="margin-top: 5px;" class="btn btn-success" href="{% url 'friend_list' %}" role="button">View Friends</a>
            </div>
            {% endif %}
        </div>     
            <div class="card-body">
                {% if profile.private and not is_friend and profile.user != request.user %}
                    <h2>This profile is <strong>private</strong></h2>
                     <p>Only {{profile.user.username}}'s friends can see their pictures and badges</p>

                {% else %}

                    <h4>Recent PlantDex Captures</h4>
                    <div class="container-fluid border border-dark mb-2" style="height:13em; overflow-y: scroll;">
                        {% include 'plantdex/recent-discoveries.html' %}
                    </div>
                
                    <h4>Badges</h4>
                    <div class="container-fluid border border-dark mb-2" style="height:100px;">
                
                    </div>

                {% endif %}
            </div>

</div>
{% endblock %}
