{% extends 'base.html' %}


{% block content %}
<h1>{{ profile.user.username }}</h1>

<img src="/images/{{ profile.pfp }}", width="250", height="250">
<p><strong>Name:</strong> {{ profile.name }}</p>
<p><strong>About:</strong> {{ profile.aboutMe }}</p>

{% if profile.user != user %}
{% if not sentReq %}

<a class="btn btn-primary" href="{% url 'add_friend' profile.id %}" role="button">Send Friend Request</a>

{% else %}

<a class="btn btn-danger" href="" role="button">Cancel Friend Request</a>

{% endif %}
{% else %}

<a class="btn btn-primary" href="{% url 'friend_list' %}" role="button">View Friends</a>

{% endif %}

{% endblock %}