venv*/
__pycache__
*.pyc
*.sqlite3
.coverage
.env

# Collectstatic for deployment
LeafQuest/staticfiles

# Files uploaded by users
LeafQuest/home/media/captures
LeafQuest/home/media/profile

# Don't track pycharm files
.idea

# AI Code review testing artifacts
diff.txt
feedback.md

# Files related to deployed server
data/

# Local AI models
identify/models
