{% extends "base.html" %}
{% load markdownify %}

{% block title %}{{ species }} captured by {{ user }} - LeafQuest{% endblock %}

{% block content %}
    <h2 class="mb-4">{{ species }}<br>
        <sup>Captured by <a href="{% url 'profile_view' profile.id %}">{{ capture.user }}</a></sup>
    </h2>
    <div class="container d-flex flex-row">
        <div class="capture-image-detail">
            <img src="{{ capture.ident_request.image.url }}" class="object-fit-scale" alt="{{ species }}">
        </div>
        <div class="container">
            {% if req_status == "failed" %}
                <p>We had trouble processing this image <br> <a class="btn btn-primary" href="#">Try Again</a></p>
            {% elif req_status == "pending" %}
                <p>We're still working on identifying this plant, check back later!</p>
            {% elif req_status == "created" %}
                <p>We haven't started identifying this image yet, <a class="btn btn-primary" href="#">Start Now?</a></p>
            {% else %}
                <p>We are %{{ capture.ident_request.confidence|floatformat:1 }} sure that this is a picture of {{ species }}</p>
                <p>Captured on {{ capture.uploaded_at }}</p>
            {% endif %}
            
            <div id="ai-summary">
                <h3>Facts About This Plant</h3>
                <p>{{ facts|markdownify }}</p>
            </div>
        </div>
    </div>
{% endblock %}
