<div class="container-fluid">
  <div class="row justify-content-start">
    {% for capture in captures %}
      <div class="col-sm-6 col-md-5 col-lg-3 d-flex">
        <div class="card plantdex-card m-1 w-100">
          <div class="image-card">
            <img src="{{ capture.ident_request.image.url }}" alt="{{ capture.ident_request.result }}">
            <div class="card-hover-info">
              <div>
                <p>{{ capture.ident_request.result }}<br>Captured on {{ capture.uploaded_at }}</p>
                <p>Our confidence: {{ capture.ident_request.confidence }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
        <p class="text-muted">No plants saved yet. Go out and capture some!</p>
    {% endfor %}
  </div>
</div>
