{% extends "base.html" %}

{% block title %}Settings - LeafQuest{% endblock %}

{% block content %}
<h2 class="mb-4">Settings</h2>
    
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }} django-message w-50"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

<div class="form-check form-switch">
   <form method="POST">
       {% csrf_token %}
       <p>
           <label for="id_use_dark_mode">Dark Mode Toggle</label>
           <input type="checkbox" name="use_dark_mode" class="form-check-input" id="id_use_dark_mode" {% if form.use_dark_mode.value %}checked{% endif %}>
       </p>

       <button class="btn btn-primary" type="submit">Save Settings</button>
   </form>

</div>
{% endblock %}
