[run]
omit =
    # Omit Django files
    LeafQuest/asgi.py
    LeafQuest/wsgi.py
    LeafQuest/settings.py
    manage.py

    # identify_api can't reliably be tested in a CI environment
    identify_api/signals.py
    identify_api/models.py
    identify_api/views.py
    identify_api/*

    # Omit migrations
    home/migrations/*
    identify_api/migrations/*