[run]
omit =
    # Omit Django files
    LeafQuest/asgi.py
    LeafQuest/wsgi.py
    LeafQuest/settings.py
    manage.py

    # Omit migrations
    home/migrations/*
    identify_api/*  # most of this can't be covered by unit tests