<div class="container-fluid">
    <div class="row justify-content-start">
      {% for capture in all_captures %}
        <div class="col-sm-6 col-md-5 col-lg-3 d-flex">
          <a href="{% url 'plantdex_detail' capture.id %}" class="card plantdex-card m-1 w-100">
            <div class="capture">
                <img src="/media/{{ capture.user.profile.pfp }}" alt="Profile Picture" class="profile-btn capture-pfp-overlay">
                <div class="image-card">
                    <img src="{{ capture.ident_request.image.url }}" alt="{{ capture.ident_request.result }}">
                    <div class="card-hover-info">
                    <div>
                        <p><strong>{{ capture.user }}</strong> captured:</p>
                        <p>{{ capture.ident_request.result }}<br>Captured on {{ capture.uploaded_at }}</p>
                        <p>Our confidence: %{{ capture.ident_request.confidence|floatformat:1 }}</p>
                    </div>
                </div>
                </div>
            </div>       
          </a>
        </div>
      {% empty %}
          <p class="text-muted">Nothing to see here</p>
      {% endfor %}
    </div>
  </div>