{% extends "base.html" %}

{% block title %}Social - LeafQuest{% endblock %}

{% block content %}
    <h2>Social</h2>

    </br>
    <a class="btn btn-success" href="{% url 'search' %}" role="button">Search for a User <span class="material-symbols-outlined" style="font-size:16px;">search</span></a>

    </br></br>
    <h4>Friend Activity</h4>
    <div class="container-fluid border border-dark mb-2" style="height:100px;">
                
    </div>

    </br>
    <h4>Plants Near You</h4>
    <div class="container-fluid border border-dark mb-2" style="height:100px;">
                
    </div>
{% endblock %}
