{% extends "base.html" %}

{% block title %}Home - LeafQuest{% endblock %}

{% block content %}

    <h2 class="text-center pb-3">
        Welcome to LeafQuest!
    </h2>

    <h4>PlantDex</h4>
    <div class="container-fluid border border-dark mb-2" style="height:100px;">
        
    </div>

    <h4>Badges</h4>
    <div class="container-fluid border border-dark mb-2" style="height:100px;">
        
    </div>

    <h4>Social</h4>
    <div class="container-fluid border border-dark mb-2" style="height:300px;">
        
    </div>

{% endblock %}
