{% extends "base.html" %}
{% load static %}

{% block title %}Home - LeafQuest{% endblock %}

{% block content %}
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}

    {% if user.is_authenticated %}
    <h2 class="text-center pb-3">
        Welcome to LeafQuest, {{ user.username }}!
    </h2>

    {% else %}

    <h2>
        Welcome to LeafQuest!
    </h2>

    {% endif %}

    <h4>PlantDex <a class="btn btn-success" href="{% url 'plantdex' %}" role="button">See More</a></h4>
    <div class="container-fluid border border-dark mb-2" style="height:17rem; overflow-y: scroll;">
    {% include 'plantdex/recent-discoveries.html' %}
    </div>

    <h4>Badges <a class="btn btn-success" href="{% url 'badges' %}" role="button">See More</a></h4>
    <div class="container-fluid border border-dark mb-2" style="height:100px;">

    </div>

    <h4>Social <a class="btn btn-success" href="{% url 'social' %}" role="button">See More</a></h4>
    <div class="container-fluid border border-dark mb-2" style="height:300px;">

    </div>

{% endblock %}
